* {
    width: 60vw;
    margin: auto;
    text-align: center;
}

.from {
    font-size: 3rem;
    text-transform: capitalize;
    border: gray solid medium;
    padding: 0.5rem;
    width: fit-content;
    opacity: 0.5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0rem 1rem 0rem 1rem;
    z-index: 5;
    transition-duration: 0.5s;
}

.from:hover {
    background-color: tomato;
    color: white;
}

.brownie {
    margin-top: 1.5rem;
    width: 75%;
    transition-duration: 0.5s;
}

.brownie:hover {
    border-radius: 30%;
    transform: rotateX(30deg);
    transform: rotateY(30deg);
}

.recipe {
    font-size: 1.3em;
    opacity: 0.8;
    transition-duration: 1s;
}

.recipe:hover {
    color: blueviolet;
    font-size: 1.5em;
    font-weight: bolder;
}

.more {
    text-align: left;
    margin: 1rem;
    font-size: 1.3em;
    font-weight: bolder;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.more:hover {
    background-color: tomato;
    color: white;
    font-size: 2em;
    width: 25%;
}


figure img {
    width: 25%;
    height: fit-content;
    float: left;
    padding-bottom: 1rem;
    padding-right: 0.5rem;
    transition-duration: 0.5s;
}

figure img:hover {
    transform: rotateX(30deg);
    transform: rotateY(30deg);
    border-radius: 30%;
}

span {
    color: red;
    transition-duration: 0.5s;
}

